@charset "UTF-8";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  color: #fff;
  line-height: 21px;
  font-weight: 400;
  background: #090D12;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  position: relative;
  text-align: center;
  padding-bottom: 45px;
}
h2:after {
  content: "";
  width: 100%;
  height: 21px;
  max-width: 774px;
  background-image: url("../images/separator.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: uppercase;
}
h5.big {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
h5.big strong {
  color: #9F885C;
  font-weight: 700;
}

p.big {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
p.sm {
  font-size: 16px;
  line-height: 22px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 23px;
  background: #F8C339;
  padding: 11px 25px;
  color: #000;
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #090D12;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 19px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1480px;
  margin-left: auto;
}
.header__inner-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-side > span {
  width: 32px;
  height: 32px;
  background-color: #3C4147;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header__inner-side > span:hover {
  opacity: 0.9;
}
.header__inner-side hr {
  height: 33px;
  width: 1px;
  background-color: #26282A;
  margin: 0 17px;
}
.header__inner-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #fff;
}
.header__inner-user-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__inner-user-icon img {
  width: 100%;
}
.header__inner-user span {
  width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}
.header__inner-user span img {
  width: 100%;
}

.subheader {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.subheader::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
  content: "";
}
.subheader.sticky {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.subheader__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.subheader__inner-links a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  margin-right: 46px;
  text-transform: uppercase;
}
.subheader__inner-links a:last-child {
  margin-right: 0;
}
.subheader__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subheader__inner-buttons .button {
  font-size: 13px;
  line-height: 16px;
  color: #090D12;
  padding: 9px 28px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #E9B121;
  font-weight: 700;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner li {
  margin-right: 58px;
}
.nav__inner li:last-child {
  margin-right: 0;
}
.nav__inner li:first-child {
  margin-right: 45px;
}
.nav__inner li.active a {
  color: #fff;
}
.nav__inner li.active a svg {
  fill: #fff;
}
.nav__inner a {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #585858;
  text-transform: uppercase;
}
.nav__inner a svg {
  width: 8px;
  height: 8px;
  margin-left: 4px;
  fill: #585858;
}

.footer {
  padding: 80px 0;
}
.footer__inner-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
  width: calc(68% - 15px);
}
.footer__inner-main-buttons {
  width: calc(32% - 15px);
  max-width: 338px;
}
.footer__inner-main-buttons h4 {
  margin-bottom: 35px;
}
.footer__inner-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-copy-info {
  width: calc(68% - 15px);
  color: #585858;
  font-size: 15px;
  line-height: 20px;
}
.footer__inner-copy .copy {
  width: calc(32% - 15px);
  max-width: 338px;
  font-size: 15px;
  line-height: 20px;
}
.footerLink {
  width: calc(25% - 10px);
}
.footerLink h4 {
  margin-bottom: 24px;
}
.footerLink a {
  margin-bottom: 20px;
  display: block;
  font-weight: 400;
}

.button {
  margin-right: 13px;
  padding: 12px 40px;
  font-family: "Cinzel", serif;
  font-weight: 700;
}
.button:last-child {
  margin: 0;
}
.button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button.secondary {
  background-color: #373F48;
  color: #fff;
}

.offers__inner {
  padding: 32px 0 80px;
}
.offers__inner h2 {
  margin-bottom: 116px;
}
.offers__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offersItem {
  width: calc(33.3% - 13px);
  max-width: 546px;
  padding: 12px;
  border: 1px dashed #373737;
}
.offersItem__body {
  padding-bottom: 121%;
  position: relative;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.offersItem__body-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.offersItem__body-image::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}
.offersItem__body-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
.offersItem__body-info {
  position: absolute;
  z-index: 2;
  left: 56px;
  bottom: 48px;
}
.offersItem__body-info h3 {
  color: #9F885C;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 45px;
}
.offersItem__body-info h3 span {
  display: block;
  font-size: 20px;
  line-height: 26px;
}
.offersItem__body-info .button {
  padding: 11px 22px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.offersItem__body-info .button:hover {
  opacity: 0.8;
}
.offersItem__body:hover {
  padding-bottom: 140%;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.about {
  background-image: url("../images/aboutBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.about:after {
  content: "";
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../images/hero-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about__inner {
  padding: 40px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__inner h2 {
  margin-bottom: 85px;
}
.about__inner p.big {
  text-align: center;
  max-width: 874px;
  margin: 0 auto 64px;
}
.about__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__inner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}
.about__inner-text span {
  width: 48px;
  height: 32px;
  margin-right: 26px;
  display: block;
}
.about__inner-text span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aboutItem {
  width: calc(33.3% - 8px);
  max-width: 547px;
  padding: 109px 65px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25.48%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 25.48%, rgba(0, 0, 0, 0) 100%);
}
.aboutItem h3 {
  margin-bottom: 33px;
  color: #9F885C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutItem h3 span {
  margin-right: 18px;
  width: 71px;
  height: 71px;
}
.aboutItem h3 span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .button {
  margin: 0 auto 106px;
  font-size: 19px;
  line-height: 25px;
  padding: 11px 60px;
  position: relative;
}
.about .button::before {
  content: "";
  width: calc(100% + 14px);
  height: calc(100% + 12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -6px;
  left: -7px;
}

.hero {
  position: relative;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__bg-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.hero__bg-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__bg-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
}
.hero__bg-bottom img {
  width: 100%;
}
.hero__inner {
  min-height: 100vh;
  padding: 220px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__inner-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 318px;
  height: 10px;
  margin-bottom: 80px;
}
.hero__inner-seperator:last-of-type {
  margin: 120px 0 0 0;
}
.hero__inner-seperator img {
  width: 100%;
}
.hero__inner h2 {
  color: #C1C1C1;
  margin-bottom: 75px;
  padding: 0;
  text-align: left;
}
.hero__inner h2::after {
  display: none;
}
.hero__inner h5 {
  margin-bottom: 4px;
  color: #7E7E7E;
}
.hero__inner h5:last-child {
  margin: 0;
  color: #fff;
  font-weight: 900;
}
.hero__inner .button {
  font-size: 25px;
  line-height: 30px;
  color: #000;
  padding: 10px 60px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCB46), to(#E9B121));
  background: linear-gradient(180deg, #FFCB46 0%, #E9B121 100%);
  font-weight: 700;
  margin-right: 48px;
}
.hero__inner .button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.2;
  pointer-events: none;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1380px) {
  .nav__inner li {
    margin-right: 40px;
  }
  .nav__inner li:first-child {
    margin-right: 27px;
  }
}
@media (max-width: 1180px) {
  .auto__container {
    padding: 0 30px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}