// colors
$primary: #F8C339;
$main : #090D12;
$black: #000;
$white: #fff;
$gradient: linear-gradient(180deg, #FFCB46 0%, #E9B121 100%);

// fonts
$cinzel: 'Cinzel', serif;



$gray:#585858;
$gray2:#373737;
$orange:#9F885C;




