// colors
$primary: #F8C339;
$main : #090D12;
$black: #000;
$white: #fff;
$gradient: linear-gradient(180deg, #FFCB46 0%, #E9B121 100%);
$black2: #090D12;
$gray: #697079;

// fonts
$cinzel: 'Cinzel', serif;



