.hero {
    position: relative;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &-main {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .6;
            img {
                @include fullImage;
            }
        }
        &-bottom {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            img {
                width: 100%;
            }
        }

    }
    &__inner {
        min-height: 100vh;
        padding: 220px 0 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-content {

        }
        &-row {
            display: flex;
            align-items: center;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &-seperator {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 318px;
            height: 10px;
            margin-bottom: 80px;
            &:last-of-type {
                margin: 120px 0 0 0;
            }
            img {
                width: 100%;
            }
        }
        h2 {
            color: #C1C1C1;
            margin-bottom: 75px;
            padding: 0;
            text-align: left;
            &::after {
                display: none;
            }
        }
        h5 {
            margin-bottom: 4px;
            color: #7E7E7E;
            &:last-child {
                margin: 0;
                color: $white;
                font-weight: 900;
            }
        }
        .button {
            font-size: 25px;
            line-height: 30px;
            color: $black;
            padding: 10px 60px;
            position: relative;
            background: $gradient;
            font-weight: 700;
            margin-right: 48px;
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 12px);
                height: calc(100% + 12px);
                background-color: transparent;
                border: 1px solid $white;
                opacity: .2;
                pointer-events: none;
                content: "";
                transform: translate(-50%, -50%)
            }
        }
    }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {

    }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {

    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {

    }
}
// 1024px
@mixin hero-lg-xlg {
    .hero {

    }
}
// 930px
@mixin hero-md-lg {
    .hero {
  
    }
}
// 750px
@mixin hero-sm-md {
    .hero {
 
    }
}
// 650px
@mixin hero-sm-md-extra {
    .hero {

    }
}
// 540px
@mixin hero-xsm-sm {
    .hero {

    }
}
// 440px
@mixin hero-xxsm-xsm {
    .hero {

    }
}