h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

h4 {

}

h5 {
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    text-transform: uppercase;
}

h6 {}

p {}

main {
    overflow: hidden;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 23px;
    background: $primary;
    padding: 11px 25px;
    color: $black;
    text-transform: uppercase;
}