h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 80px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  position: relative;
  text-align: center;
  padding-bottom: 45px;
  &:after {
    content: "";
    width: 100%;
    height: 21px;
    max-width: 774px;
    background-image: url("../images/separator.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  text-transform: uppercase;
  &.big {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    strong {
      color: $orange;
      font-weight: 700;
    }
  }
}


p {
  &.big {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }
  &.sm {
    font-size: 16px;
    line-height: 22px;
  }
}

main {
  overflow: hidden;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 23px;
  background: $primary;
  padding: 11px 25px;
  color: $black;
  text-transform: uppercase;
  font-family: $cinzel;
}
