.footer {
  padding: 80px 0;

  &__inner {
    &-main {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        width: calc(68% - 15px);
      }

      &-buttons {
        width: calc(32% - 15px);
        max-width: 338px;

        h4 {
          margin-bottom: 35px;
        }
      }
    }

    &-copy {
      display: flex;
      justify-content: space-between;

      &-info {
        width: calc(68% - 15px);
        color: $gray;
        font-size: 15px;
        line-height: 20px;
      }

      .copy {
        width: calc(32% - 15px);
        max-width: 338px;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  &Link {
    width: calc(25% - 10px);

    h4 {
      margin-bottom: 24px;
    }

    a {
      margin-bottom: 20px;
      display: block;
      font-weight: 400;
    }
  }

  .button {
    margin-right: 13px;
    padding: 12px 40px;
    font-family: $cinzel;
    font-weight: 700;
    @include transition;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:last-child {
      margin: 0;
    }

    &__row {
      display: flex;
    }

    &.secondary {
      background-color: $gray3;
      color: $white;
    }
  }
}

// 1380px
@mixin footer-xxxlg-xxxxlg {
  .footer {
    &Link {
      h4 {
        font-size: 17px;
        line-height: 24px;
      }

      a {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

// 1180px
@mixin footer-xlg-xxlg {
  .footer {
    padding: 50px 0;

    &__inner {
      &-main {
        flex-wrap: wrap;
        justify-content: center;

        &-links {
          width: 100%;
          margin-bottom: 50px;
        }

        &-buttons {
          width: 100%;
          order: -1;
          margin-bottom: 50px;
          text-align: center;
        }
      }

      &-copy {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        &-info {
          width: 100%;
          margin-bottom: 50px;
        }

        .copy {
          width: 100%;
        }
      }
    }
  }
}

// 750px
@mixin footer-sm-md {
  .footer {
    padding: 30px 0;

    &__inner {
      &-main {
        &-links {
          margin-bottom: 20px;
          flex-wrap: wrap;
        }

      }

      &-copy {
        &-info {
          margin-bottom: 30px;
          font-size: 14px;
          line-height: 18px;
        }

        .copy {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &Link {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }

}

// 540px
@mixin footer-xsm-sm {
  .footer {
    &__inner {
      &-main {
        &-links {
          margin-bottom: 0;
        }

        &-buttons {
          margin-bottom: 40px;

          h4 {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }

    .button {
      padding: 10px 30px;
      font-size: 16px;
      line-height: 18px;

      &__row {
        justify-content: center;
      }
    }
  }
}

// 440px
@mixin footer-xxsm-xsm {
  .footer {
    padding: 20px 0;

    &Link {
      h4 {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
      }

      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
    &__inner {
      &-copy {
        &-info {
          font-size: 13px;
          line-height: 17px;
          margin-bottom: 15px;
        }

        .copy {
          font-size: 13px;
          line-height: 17px;
        }
      }
    }

    &Link {
      width: 100%;
    }

    .button {
      padding: 10px 20px;
      font-size: 14px;
      line-height: 18px;

      &__row {
        justify-content: center;
      }
    }
  }

}