.footer {
  padding: 80px 0;
  &__inner {
    &-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &-links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
        width: calc(68% - 15px);
      }
      &-buttons {
        width: calc(32% - 15px);
        max-width: 338px;
        h4 {
          margin-bottom: 35px;
        }
      }
    }
    &-copy {
      display: flex;
      justify-content: space-between;
      &-info {
        width: calc(68% - 15px);
        color: $gray;
        font-size: 15px;
        line-height: 20px;
      }
      .copy {
        width: calc(32% - 15px);
        max-width: 338px;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  &Link {
    width: calc(25% - 10px);
    h4 {
      margin-bottom: 24px;
    }
    a {
      margin-bottom: 20px;
      display: block;
      font-weight: 400;
    }
  }
}
.button {
  margin-right: 13px;
  padding: 12px 40px;
  font-family: $cinzel;
  font-weight: 700;
  &:last-child {
    margin: 0;
  }
  &__row {
    display: flex;
  }
  &.secondary {
    background-color: $gray3;
    color: $white;
  }
}
// 750px
@mixin footer-sm-md {
  .footer {
  }
}
// 650px
@mixin footer-sm-md-extra {
  .footer {
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
  }
}
// 390px
@mixin footer-xxxsm-xxsm {
  .footer {
  }
}

.offers {
  &__inner {
    padding: 32px 0 80px;
    h2 {
      margin-bottom: 116px;
    }
    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &Item {
    width: calc(33.3% - 13px);
    max-width: 546px;
    padding: 12px;
    border: 1px dashed $gray2;
    &__body {
      padding-bottom: 121%;
      position: relative;
      transition: 0.2s ease;
      &-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            #000000 100%
          );
          z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.7;
        }
      }
      &-info {
        position: absolute;
        z-index: 2;
        left: 56px;
        bottom: 48px;
        h3 {
          color: $orange;
          margin-bottom: 30px;
          font-size: 35px;
          line-height: 45px;
          span {
            display: block;
            font-size: 20px;
            line-height: 26px;
          }
        }
        .button {
          padding: 11px 22px;
          cursor: pointer;
          @include transition;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      &:hover {
        padding-bottom: 140%;
      }
    }
  }
}
h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.about {
  background-image: url("../images/aboutBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../images/hero-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &::before{
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/hero-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__inner {
    padding: 40px 0 100px;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 85px;
    }
    p {
      &.big {
        text-align: center;
        max-width: 874px;
        margin: 0 auto 64px;
      }
    }
    &-main {
      display: flex;
      justify-content: space-between;
    }
    &-text {
      display: flex;
      align-items: center;
      max-width: 1060px;
      margin: 0 auto;
      span {
        width: 48px;
        height: 32px;
        margin-right: 26px;
        display: block;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &Item {
    width: calc(33.3% - 8px);
    max-width: 547px;
    padding: 109px 65px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 25.48%,
      rgba(0, 0, 0, 0) 100%
    );
    h3 {
      margin-bottom: 33px;
      color: $orange;
      display: flex;
      align-items: center;
      span {
        margin-right: 18px;
        width: 71px;
        height: 71px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .button {
    margin: 0 auto 106px;
    font-size: 19px;
    line-height: 25px;
    padding: 11px 60px;
    position: relative;
    &::before {
      content: "";
      width: calc(100% + 14px);
      height: calc(100% + 12px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      top: -6px;
      left: -7px;
    }
  }
}
