.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $black2;
  &.sticky  {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   animation-name: sticky;
   animation-duration: .4s;
  }
  &__inner {
    padding: 19px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1480px;
    margin-left: auto;
    &-side {
      display: flex;
      align-items: center;
      & > span {
        width: 32px;
        height: 32px;
        background-color: #3C4147;
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
        &:hover {
          opacity: .9;
        }
      }
      hr {
        height: 33px;
        width: 1px;
        background-color: #26282A;
        margin: 0 17px;
      }
    }
    &-user {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 17px;
      font-weight: 700;
      color: $white;
      &-icon {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      span {
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
        img {
          width: 100%;
        }
      }
    }
  }
}
.subheader {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  z-index: 10;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .3);
    backdrop-filter: blur(10px);
    z-index: -1;
    content: "";
  }
  &.sticky  {
   position: fixed;
   top: 68px;
   left: 0;
   width: 100%;
   animation-name: sticky;
   animation-duration: .4s;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    &-links {
      a {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: $white;
        margin-right: 46px;
        text-transform: uppercase;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-buttons {
      display: flex;
      align-items: center;
      .button {
        font-size: 13px;
        line-height: 16px;
        color: #090D12;
        padding: 9px 28px;
        margin-left: 20px;
        border-radius: 4px;
        background-color: #E9B121;
        font-weight: 700;
      }
    }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
    }
  }
}
// 1024px
@mixin header-lg-xlg {
    .header {
    
    }
}
// 540px
@mixin header-xsm-sm {
    .header {
    
    }
}
@keyframes sticky {
    0% {
      top: -60px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }